{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %} {% load static %} {% static 'core/img/contact.jpg' %} {% endblock %}

{% block headers %}
    <h1>Contacto</h1>
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p class="text-justify">¿Tienes una propuesta o una oportunidad laboral? Puedes contactarme por telefono o redes profesionales.  Estoy abierto a oportunidades en desarrollo Python, backend, bases de datos y automatización.</p>
        <br>
        <p><b>Teléfono:</b> +58 4241805330</p>
        <p><b>GitHub:</b> <a class="link" href="https://github.com/jeshuamb">github.com/jeshuamb</a></p>
      </div>
    </div>
{% endblock %}
